{% extends 'base.html' %}
{% block content %}

<div class="add-category-container">
  <div class="add-category-form-card">
    <h3>Add Category</h3>
    <form action="{{ url_for('insert_category') }}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="add-category-input-field">
        <i class="material-icons prefix">restaurant_menu</i>
        <input id="category_name" name="category_name" type="text" class="validate" placeholder="" required>
        <label for="category_name">Category Name</label>
      </div>

      <div class="add-category-button-group">
        <button class="add-category-btn waves-effect waves-light" type="submit" name="action">
          <i class="material-icons">add</i>
          Add Category
        </button>
        <a href="{{ url_for('categories') }}" class="add-category-btn waves-effect waves-light grey">
          <i class="material-icons">arrow_back</i>
          Back
        </a>
      </div>
    </form>
  </div>
</div>

{% endblock %}