<!DOCTYPE html>
<html>

<head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"
            media="screen,projection" />
      <!--custom css-->
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
            type="text/css" />
      <!--Favicon -->
      <link rel="icon" href="{{ url_for('static', filename='res/favicon.png') }}" sizes="16x16 32x32" type="image/png">

      <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


      <header class="navbar">

            <div class="logo" onclick="window.location='/'"></div>

            <div class="btn-container-dis">
                  <button class="secondary" onclick="window.location='{{ url_for('get_recipes') }}'">Home</button>
                  <button class="secondary" onclick="window.location='{{ url_for('categories') }}'">Manage
                        Cusines</button>
                  <button class="disconnect" onclick="window.location='{{ url_for('add_recipe') }}'">New recipe</button>
                  <button class="disconnect" onclick="window.location='{{ url_for('destroy') }}'">Disconnect</button>
            </div>
      </header>

      <!--Main banner-->
      <section class="banner"></section>

      <!--Flask Block content-->
      {% block content %}
      {% endblock %}


      <!--ChartsJs-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>