{% extends "homebase.html" %}
{% block title %}Resset Password{% endblock %}
{% block content %}
    <div class="form-container">
        {% if error %}
        <div class="error">
            <span class="text">{{ error }}</span>
            <span id="close" class="material-symbols-outlined" onclick="console.log(this.parentElement.remove())">
                close
            </span>
        </div>
        {% endif %}
        <h1>Update Password</h1>
        <hr style="opacity: 0;"/>
        <form class="form" method="post">
            {{ form.csrf_token }}
            {{ form.newpassword }}
            <div id="password-requirements" class="password-requirements" style="display: none;">
                <h4>Password Requirements:</h4>
                <ul>
                    <li data-requirement="length">
                        <span class="icon">✗</span>
                        <span class="text">At least 8 characters long</span>
                    </li>
                    <li data-requirement="uppercase">
                        <span class="icon">✗</span>
                        <span class="text">At least one uppercase letter</span>
                    </li>
                    <li data-requirement="lowercase">
                        <span class="icon">✗</span>
                        <span class="text">At least one lowercase letter</span>
                    </li>
                    <li data-requirement="number">
                        <span class="icon">✗</span>
                        <span class="text">At least one number</span>
                    </li>
                    <li data-requirement="special">
                        <span class="icon">✗</span>
                        <span class="text">At least one special character (@$!%*#?&)</span>
                    </li>
                </ul>
            </div>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}